
html {
    background: url(https://ep01.epimg.net/economia/imagenes/2020/01/16/actualidad/1579196525_489238_1579272049_noticia_normal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




body{
	margin:auto;
	width:90%;
	max-width:5000px;
	margin-top: 20px;
	background:#F1FFF1;
	opacity: 0.985;
	text-align:justify;
}

a{
  color: darkblue;
  text-decoration: underline;
}


.tabset { 
  background-color: #00806E;
}


.chcolor{
  	width:88%;
  	background: #F1FFF1;
  	color: black;
  	border: none;
  	text-align: justify;
  	margin: auto;
  	margin-top: 1%;
  	margin-bottom: 2%;
  	/*font-family: 'Times New Roman', Times, serif;*/
}

  
@media (min-width: 800px){
  .salcolor{
  	background: #F1FFF1;
  	color: black;
  	border: 0.7px ridge rgba(0, 0, 0, 0.5);
  	border-radius: 2px; 
  	text-align: justify;
  	justify-content: space-evenly;
  }
}


h2{
	color: #766E69;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.colum_col{
  	background: #433F48;
  	font-size: 15px;
  	color: white;
  	border: none;
  	margin-left: 1em;;
  	text-align: justify;
}

.navbar-brand {
	font: 35px "Garamond", cursive;
	font-size: 25px;
	font-family: Algerian;
	color:  #006400;
}

.chart-title {  /* chart_title  */
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media (min-width: 800px){
	.col2 {
	  width: 95%;
	  margin: 0 auto;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  gap: 20px;
	  justify-content: space-evenly;
	}
}

 @media (min-width: 800px){
	.col2_mr {
	  width: 95%;
	  margin: 0 auto;
	  display: grid;
	  grid-template-columns: 1fr 2fr;
	  gap: 20px;
	  justify-content: space-evenly;
	}
}

@media (min-width: 800px){
  .div_rmd{
  	color: black;
  	width:105%;
  	border: none;
  	text-align: justify;
  	margin: auto;
  	margin-top: 1%;
  	margin-bottom: 3%;
  }
}

.titulo{
	text-align: center;
	font: 55px "Garamond", cursive;
	font-weight: bold;
	text-decoration: underline;
	-webkit-text-stroke: 2px black;
	background: -webkit-linear-gradient(#7FFFD4, #006400);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1,h2,h3{
	color: #766E69;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.tit-cab{
  color: #766E69;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
