
html {
    background: url(https://ep01.epimg.net/economia/imagenes/2020/01/16/actualidad/1579196525_489238_1579272049_noticia_normal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body{
	margin:auto;
	width:90%;
	max-width:5000px;
	margin-top: 20px;
	background:#F1FFF1;
	opacity: 0.98;
	text-align:justify;
}


.chcolor{
	width:88%;
	background: #F1FFF1;
	color: black;
	border: none;
	text-align: justify;
	font-size: 15px;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 2%;
	border: 0.7px ridge rgba(0, 0, 0, 0.5);
	/*font-family: 'Times New Roman', Times, serif;*/
}


h2{
	color: #766E69;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.salcolor{
	background: #DAEFE3;
	color: black;
	border: 0.7px ridge rgba(0, 0, 0, 0.5);
	border-radius: 2px; 
	text-align: justify;
	justify-content: space-evenly;
}

.colum_col{
	background: #433F48;
	font-size: 15px;
	color: white;
	border: none;
	margin-left: 1em;;
	text-align: justify;
}

.chart-title {  /* chart_title  */
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}